azure-user-pw.txt
id_rsa_*
*cloud-init.yml
kubeconf-all
kubernetes-secrets.yml
/topsecret/azure
/topsecret/kubeconfig
/topsecret/cloudflare/cloudflare-tunnel.pem
/topsecret/cloudflare/dev-tunnel.json

.DS_Store
cloudflare-notes.md
debugging

/terchris


troubleshooting/*.txt
troubleshooting/output/*


# AI stuff 
.playwright-mcp
WARP.md
CLAUDE.md

