apiVersion: v1
kind: Secret
metadata:
  name: argocd-secret
  namespace: argocd
  labels:
    app.kubernetes.io/name: argocd-secret
    app.kubernetes.io/part-of: argocd
type: Opaque
stringData:
  admin.password: "$2y$10$x7UGLGpbFyRC34uRi0tPtOpIYseBin9UQ/MgvgcMjFUidGti7Bsa2"
  admin.passwordMtime: "2025-09-23T01:33:00Z"