apiVersion: v1
kind: Secret
metadata:
  name: argocd-secret
  namespace: argocd
  labels:
    app.kubernetes.io/name: argocd-secret
    app.kubernetes.io/part-of: argocd
type: Opaque
stringData:
  admin.password: "$2y$10$kx6Ox3UXFkk9KvAuMRCAP.aOyeYfM45KB1TCOqjejHcMaN1V5TvdW"
  admin.passwordMtime: "2025-09-23T01:50:00Z"